<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= domain %> | <%= title %></title>
    </head>
    <body
        class="bg-background antialiased text-foreground min-h-screen flex flex-col"
    >
        <!-- Header  -->
        <%- include('src/templates/sections/header.ejs') %>

        <!-- Hero  -->
        <%- include('src/templates/sections/hero.ejs') %>

        <!-- Features  -->
        <%- include('src/templates/sections/features.ejs') %>

        <!-- Learning Materials  -->
        <%- include('src/templates/sections/learningMaterials.ejs') %>

        <!-- Analytics  -->
        <%- include('src/templates/sections/analytics.ejs') %>

        <!-- Pricing  -->
        <%- include('src/templates/sections/pricing.ejs') %>

        <!-- Contact Ui  -->
        <%- include('src/templates/sections/contact.ejs') %>

        <!-- Footer  -->
        <%- include('src/templates/sections/footer.ejs') %>
        <script type="module" src="/src/main.ts"></script>
    </body>
</html>
